<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor_fun.android_app_utils"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
	<uses-permission android:name="android.permission.READ_USER_DICTIONARY"	/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />	    
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity 
            android:name=".fundation_technoligy.android.pair.PairDemonActivity" >
        </activity>
        
        <activity 
            android:name=".media.audio.VoiceRecognition" >
            
        </activity>
        
        <activity 
            android:name=".test.FileTestActivity" >
        </activity>
        
         <activity 
            android:name=".test.UTCTimeActivity" >
        </activity>
        
         <activity 
            android:name=".htc_view_test.HSMConnectActivity"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:enabled="true" android:name=".file.service.FileModificationService" />
    </application>

</manifest>
